In [10]:
import pandas as pd
import numpy as np
import time
import tweepy

In [11]:
login = pd.read_csv('login.csv')

In [12]:
consumer_key = login.key[0]
consumer_secret = login.key[1]
access_key = login.key[2]
access_secret = login.key[3]

In [13]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)

In [14]:
auth.set_access_token(access_key, access_secret)

In [15]:
api = tweepy.API(auth, wait_on_rate_limit=True)

In [7]:
text_query = '@amazonIN -filter:retweets'
count = 4000
try:
 # Creation of query method using parameters
 tweets = tweepy.Cursor(api.search,q=text_query,lang='en').items(count)
 
 # Pulling information from tweets iterable object
 tweets_list = [[tweet.created_at, tweet.id, tweet.text] for tweet in tweets]
 
 # Creation of dataframe from tweets list
 
 amazon_tweets = pd.DataFrame(tweets_list)
 
except BaseException as e:
    print('failed on_status,',str(e))
    time.sleep(3)

In [15]:
amazon_tweets.shape

(4000, 3)

In [10]:
amazon_tweets.head()

,0,1,2
0,2021-01-23 08:12:28,1352891939566194694,"hi @amazonIN, @dominos_india, @hotstartweets and @oyorooms plz get pay later option #KeepItSimpl"
1,2021-01-23 08:12:22,1352891913301450752,@amazonIN C. 5000 \n\n#OPPOA53 #AmazonSpecialsDeal\n#AmazonGreatRepublicDaySale\n@amazonIN \n\nJ...
2,2021-01-23 08:12:07,1352891850835693569,"@AmazonHelp @amazonIN @amazonpay @JeffBezos If you don't send them the refund amount, what can t..."
3,2021-01-23 08:12:02,1352891831650971648,@amazonIN @amazonIN \n\n#AmazonSpecialsDeal #AmazonGreatRepublicDaySale \n\n#OPPOA53 is packed w...
4,2021-01-23 08:11:25,1352891674054127616,@amazonIN Option( C) 5000mAh #OPPOA53\n #AmazonSpecialsDeal.\n#AmazonGreatRepublicDaySale

In [32]:
amazon_tweets.columns=['Timestamp', 'ID', 'tweet']

In [33]:
amazon_tweets.head()

,Timestamp,ID,tweet
0,2021-01-23 08:12:28,1352891939566194694,"hi @amazonIN, @dominos_india, @hotstartweets and @oyorooms plz get pay later option #KeepItSimpl"
1,2021-01-23 08:12:22,1352891913301450752,@amazonIN C. 5000 \n\n#OPPOA53 #AmazonSpecialsDeal\n#AmazonGreatRepublicDaySale\n@amazonIN \n\nJ...
2,2021-01-23 08:12:07,1352891850835693569,"@AmazonHelp @amazonIN @amazonpay @JeffBezos If you don't send them the refund amount, what can t..."
3,2021-01-23 08:12:02,1352891831650971648,@amazonIN @amazonIN \n\n#AmazonSpecialsDeal #AmazonGreatRepublicDaySale \n\n#OPPOA53 is packed w...
4,2021-01-23 08:11:25,1352891674054127616,@amazonIN Option( C) 5000mAh #OPPOA53\n #AmazonSpecialsDeal.\n#AmazonGreatRepublicDaySale

In [9]:
pd.set_option('display.max_colwidth',100)

In [21]:
text_query = '@flipkart -filter:retweets'
count = 5000
try:
 # Creation of query method using parameters
 tweets = tweepy.Cursor(api.search,q=text_query, lang='en').items(count)
 
 # Pulling information from tweets iterable object
 tweets_list = [[tweet.created_at, tweet.id, tweet.text] for tweet in tweets]
 
 # Creation of dataframe from tweets list
 
 flipkart_tweet = pd.DataFrame(tweets_list, columns=['Timestamp', 'ID', 'tweet'])
 
except BaseException as e:
    print('failed on_status,',str(e))
    time.sleep(3)

In [26]:
flipkart_tweet.head()

,Timestamp,ID,tweet
0,2021-01-29 04:30:31,1355010412131930114,FED UP WITH YOUR BIG FAT LIES. STOP THIS ROBOT...
1,2021-01-29 04:29:31,1355010157260861441,Dear @Flipkart thanks for giving me the corre...
2,2021-01-29 04:25:55,1355009251555504128,@flipkartsupport But didn't not receive any ca...
3,2021-01-29 04:25:54,1355009247256301571,Committed date has gone but still #Flipkart is...
4,2021-01-29 04:23:44,1355008702735028224,@flipkartsupport @Flipkart \nI purchased a pro...

In [27]:
flipkart_tweet.shape

(429, 3)

In [19]:
np.min(flipkart_tweet.iloc[:,0])

Timestamp('2021-01-28 13:05:22')

In [21]:
text_query = 'snapdeal -filter:retweets'
count = 4000
try:
 # Creation of query method using parameters
 tweets = tweepy.Cursor(api.search,q=text_query, lang='en').items(count)
 
 # Pulling information from tweets iterable object
 tweets_list = [[tweet.created_at, tweet.id, tweet.text] for tweet in tweets]
 
 # Creation of dataframe from tweets list
 # Add or remove columns as you remove tweet information
 snapdeal_tweet = pd.DataFrame(tweets_list, columns=['Timestamp', 'ID', 'tweet'])
 
except BaseException as e:
    print('failed on_status,',str(e))
    time.sleep(3)

In [22]:
snapdeal_tweet.shape

(776, 3)

In [22]:
np.min(snapdeal_tweet['Timestamp'])

Timestamp('2021-01-08 10:30:19')

In [23]:
np.max(snapdeal_tweet['Timestamp'])

Timestamp('2021-01-16 05:00:12')

In [34]:
csv_data=amazon_tweets.to_csv('Amazon_tweets')

In [89]:
csv_data=flipkart_tweet.to_csv('Flipkart_tweets')

In [90]:
csv_data=snapdeal_tweet.to_csv('Snapdeal_tweets')

In [26]:
np.min(flipkart_tweet['Timestamp'])

Timestamp('2021-01-15 06:52:05')

In [33]:
text_query = '@flipkart' - 'filter=retweets'
count = 2000
try:
 # Creation of query method using parameters
 tweets = tweepy.Cursor(api.search,q=text_query, until='2021-01-14').items(count)
 
 # Pulling information from tweets iterable object
 tweets_list = [[tweet.created_at, tweet.id, tweet.text] for tweet in tweets]
 
 # Creation of dataframe from tweets list
 # Add or remove columns as you remove tweet information
 flipkart_tweet2 = pd.DataFrame(tweets_list)
 
except BaseException as e:
    print('failed on_status,',str(e))
    time.sleep(3)

In [45]:
flipkart_tweet2.shape

(2000, 3)

In [40]:
flipkart_tweet.head()

,Timestamp,ID,tweet
0,2021-01-16 04:59:36,1350306687194980354,@Flipkart @KARISHMAK_TANNA @Flipkart\n\n@flipk...
1,2021-01-16 04:59:23,1350306635164520448,@MaItReYsHaRmA_v @flipkartsupport @IndiGo6E @F...
2,2021-01-16 04:59:12,1350306585139097601,@Flipkart\n\n@flipkartsupport\n\n..\nIts just ...
3,2021-01-16 04:59:04,1350306552901726211,@Flipkart\n\n@flipkartsupport\n\n.\nIts just f...
4,2021-01-16 04:57:37,1350306186734624769,RT @syedjawdhath: @Flipkart They are cheating ...

In [41]:
flipkart_tweet2.columns=['Timestamp', 'ID', 'tweet']

In [47]:
flipkart_tweet_new = flipkart_tweet.merge(flipkart_tweet2, how='outer')

In [48]:
csv_data=flipkart_tweet_new.to_csv('Flipkart_tweets')

In [58]:
csv_data=snapdeal_tweet.to_csv('Snapdeal_tweets')

In [4]:
flipdf= pd.read_csv('datasets/Flipkart_tweets.csv', index_col= 0)

In [5]:
flipdf.head()

,Timestamp,ID,tweet
0,2021-01-16 04:59:36,1350306687194980354,@Flipkart @KARISHMAK_TANNA @Flipkart\n\n@flipk...
1,2021-01-16 04:59:23,1350306635164520448,@MaItReYsHaRmA_v @flipkartsupport @IndiGo6E @F...
2,2021-01-16 04:59:12,1350306585139097601,@Flipkart\n\n@flipkartsupport\n\n..\nIts just ...
3,2021-01-16 04:59:04,1350306552901726211,@Flipkart\n\n@flipkartsupport\n\n.\nIts just f...
4,2021-01-16 04:57:37,1350306186734624769,RT @syedjawdhath: @Flipkart They are cheating ...

In [7]:
print(np.min(flipdf.Timestamp))
print(np.max(flipdf.Timestamp))

2021-01-12 13:03:12
2021-01-16 04:59:36

In [8]:
flipdf.shape

(3139, 3)

In [18]:
flipdf.duplicated(subset='tweet').sum()

625

In [64]:
flipdf.drop_duplicates(subset='tweet',keep='first',inplace= True)

In [20]:
snapdf=pd.read_csv('datasets/Snapdeal_tweets.csv', index_col=0)

In [21]:
snapdf.shape

(1287, 3)

In [22]:
print(np.min(snapdf.Timestamp))
print(np.max(snapdf.Timestamp))

2021-01-08 10:30:19
2021-01-16 05:00:12

In [28]:
text_query = 'snapdeal -filter:retweets'
count = 4000
try:
 # Creation of query method using parameters
 tweets = tweepy.Cursor(api.search,q=text_query, lang='en').items(count)
 
 # Pulling information from tweets iterable object
 tweets_list = [[tweet.created_at, tweet.id, tweet.text] for tweet in tweets]
 
 # Creation of dataframe from tweets list
 # Add or remove columns as you remove tweet information
 snapdeal_tweet = pd.DataFrame(tweets_list)
 
except BaseException as e:
    print('failed on_status,',str(e))
    time.sleep(3)

In [29]:
snapdeal_tweet.shape

(528, 3)

In [32]:
print(np.min(snapdeal_tweet.iloc[:,0]))
print(np.max(snapdeal_tweet.iloc[:,0]))

2021-01-16 15:35:01
2021-01-24 15:52:59

In [39]:
text_query = 'snapdeal -filter:retweets'
count = 4000
try:
 # Creation of query method using parameters
 tweets = tweepy.Cursor(api.search,q=text_query, lang='en', until='2021-01-16').items(count)
 
 # Pulling information from tweets iterable object
 tweets_list = [[tweet.created_at, tweet.id, tweet.text] for tweet in tweets]
 
 # Creation of dataframe from tweets list
 # Add or remove columns as you remove tweet information
 snapdeal_tweet2 = pd.DataFrame(tweets_list, columns=['Timestamp', 'ID', 'tweet'])
 
except BaseException as e:
    print('failed on_status,',str(e))
    time.sleep(3)

In [40]:
snapdeal_tweet2.shape

(0, 3)

In [41]:
snapdf.duplicated(subset='tweet').sum()

111

In [43]:
snapdeal_tweet.columns=['Timestamp', 'ID', 'tweet']

In [52]:
snapdeal_new=pd.concat([snapdf, snapdeal_tweet],ignore_index=True)

In [53]:
snapdeal_new.shape

(1815, 3)

In [61]:
snapdeal_new.duplicated(subset='tweet').sum()

111

In [62]:
snapdeal_new.drop_duplicates(subset='tweet', keep='first',inplace=True)

In [63]:
snapdeal_new.shape

(1704, 3)

In [65]:
flipdf.shape

(2514, 3)

In [66]:
save=snapdeal_new.to_csv('datasets/Snapdeal_tweets.csv')

In [20]:
flipdf=pd.read_csv('datasets/Flipkart_tweets.csv')

In [33]:
flipdf['Timestamp']= pd.to_datetime(flipdf['Timestamp'])

In [34]:
flipkart_tweet = flipkart_tweet.merge(flipdf, how = 'outer')

In [35]:
flipkart_tweet.reset_index(inplace=True)

In [36]:
csv_data=flipkart_tweet.to_csv('Flipkart_tweets.csv')

In [63]:
# Extracting data on few products
text_query = 'oximeter -filter:retweets'
count = 4000
try:
 # Creation of query method using parameters
 tweets = tweepy.Cursor(api.search,q=text_query, lang='en').items(count)
 
 # Pulling information from tweets iterable object
 tweets_list = [[tweet.id, tweet.text] for tweet in tweets]
 
 # Creation of dataframe from tweets list
 # Add or remove columns as you remove tweet information
 smartband = pd.DataFrame(tweets_list, columns=['ID', 'tweet'])
 
except BaseException as e:
    print('failed on_status,',str(e))
    time.sleep(3)

In [64]:
smartband.shape

(1543, 2)

In [65]:
smartband['tweet'].iloc[10]

'@IanDunt I got it mild and 8 weeks later I suddenly ended up breathless and down to 80% oxygen. So please get an pu… https://t.co/Q5d2DOwlBm'

In [68]:
text_query = 'iphone -filter:retweets'
count = 4000
try:
 # Creation of query method using parameters
 tweets = tweepy.Cursor(api.search,q=text_query, lang='en').items(count)
 
 # Pulling information from tweets iterable object
 tweets_list = [[tweet.id, tweet.text] for tweet in tweets]
 
 # Creation of dataframe from tweets list
 # Add or remove columns as you remove tweet information
 iphone = pd.DataFrame(tweets_list, columns=['ID', 'tweet'])
 
except BaseException as e:
    print('failed on_status,',str(e))
    time.sleep(3)

failed on_status, Failed to send request: ('Connection aborted.', OSError("(10054, 'WSAECONNRESET')"))

In [69]:
save=smartband.to_csv('oximeter.csv')

# Note:
## Had some issues with scraping data from twitter,so couldn't get big chunk of tweets for the dataset